<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Contato</title>
	<link rel="stylesheet" type="text/css" href="_css/contato.css">
</head>
<body>
	<h1>Entre em Contato Conosco</h1>
	<figure>
		<img src="_imagens/contato.jpeg">
		<figcaption>
			<h2>jogodaforca.edfj@gmail.com</h3>
		</figcaption>
	</figure>
	<h3><a href="/"> Voltar</a></h2>
	<audio id="musica" autoplay="autoplay" loop=""  volume="60">
		<source src="_sound/musica.mp3" type="audio/mp3"/>
	</audio>
</body>
</html>