<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Jogo da Forca</title>
	<link rel="stylesheet" type="text/css" href="_css/index.css">

</head>
<body>
	<h2>versão alpha 1.0</h2>
	<h1>Jogo da Forca</h1>
<nav id="menu">
		<ul>
			<li><a href="jogo.html">jogar</a></li>
			<li><a href="ajuda.html">ajuda</a></li>
			<li><a href="sobre.html">sobre</a></li>
			<li><a href="contato.html">contato</a></li>
			<li><a href="https://www.google.com.br/">sair</a></li>
		</ul>
</nav>
<audio id="musica" autoplay="true" loop="">
	<source src="_sound/musica.mp3" type="audio/mpeg"/>
</body>
</html>