<!DOCTYPE html>
<html lang="pt-br">
<head>
  <script language="javascript" src="/_script/jogo.js"></script>
  <link rel="stylesheet" type="text/css" href="_css/jogo.css">
  <meta charset="UTF-8">
  <title>Enforcados</title>
</head>
<body>
	<h2>EM BREVE!</h2>
	<form action="" method="post">
                <fieldset id="area">
                        <input type="text" name="entrada_1" id="entrada_1" /></label>
                </fieldset>
                <fieldset id="teclado">
                        <fieldset>
                                <input type="button" name="q" value="q" />
                                <input type="button" name="w" value="w" />
                                <input type="button" name="e" value="e" />
                                <input type="button" name="r" value="r" />
                                <input type="button" name="t" value="t" />
                                <input type="button" name="y" value="y" />
                                <input type="button" name="u" value="u" />
                                <input type="button" name="i" value="i" />
                                <input type="button" name="o" value="o" />
                                <input type="button" name="p" value="p" />
                        </fieldset>
                        <fieldset>
                                <input type="button" name="a" value="a" />
                                <input type="button" name="s" value="s" />
                                <input type="button" name="d" value="d" />
                                <input type="button" name="f" value="f" />
                                <input type="button" name="g" value="g" />
                                <input type="button" name="h" value="h" />
                                <input type="button" name="j" value="j" />
                                <input type="button" name="k" value="k" />
                                <input type="button" name="l" value="l" />
                                <input type="button" name="ç" value="ç" />
                        </fieldset>
                        <fieldset>                      
                                <input type="button" name="z" value="z" />
                                <input type="button" name="x" value="x" />
                                <input type="button" name="c" value="c" />
                                <input type="button" name="v" value="v" />                      
                                <input type="button" name="b" value="b" />
                                <input type="button" name="n" value="n" />
                                <input type="button" name="m" value="m" />
                        </fieldset>
                </fieldset>
        </form>
<h1><a href="/">Voltar</a></h1>
<audio id="musica" autoplay="autoplay" loop="" >
    <source src="_sound/musica.mp3" type="audio/mpeg"/>
    </audio>
</body>
</html>