<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Sobre</title>
	<link rel="stylesheet" type="text/css" href="_css/sobre.css">
</head>
<body>
	<h2>Participantes</h2>
	<figure>
		<img src="_imagens/danilo.jpg" style="float:left;"/>
		<figcaption>
			                <br/>
	    	<h3>&nbsp;Danilo Monteiro da Silva</h3>
			<h3>&nbsp;Desenvolvedor do Jogo da Forca versão 1.0</h3>
			<h3>&nbsp;Cursando Informática Para Internet - IFPE</h3>
		</figcaption>
							<br/>
							<br/>
							<br/>
			<img src="_imagens/eduardo.jpg" style="float:right;"/>
		                    <br/>
		                    
		    <h3 class="ed">Eduardo Bezerra da Silva&nbsp;</h3>
			<h3 class="ed">Desenvolverdor do Jogo da Forca versão 1.0&nbsp;</h3>
			<h3 class="ed">Cursando Informática Para Internet - IFPE&nbsp;</h3>	
							<br/>
		<img src="_imagens/fabio.jpeg" style="float:left;">
		                    <br/>
			<h3>&nbsp;Fábio Moura de Fraga</h3>
			<h3>&nbsp;Desenvolvedor do Jogo da Forca versão 1.0</h3>
			<h3>&nbsp;Cursando Informática Para Internet - IFPE</h3>
							<br/>
		<img src="_imagens/jonas.jpg" style="float:right;">
		                    <br/>
			<h3 class="ed">Jonas David da Silva Rodrigues&nbsp;</h3>
			<h3 class="ed">Desenvolvedor do Jogo da Forca versão 1.0&nbsp;</h3>
			<h3 class="ed">Cursando Informática Para Internet - IFPE&nbsp;</h3>
	</figure>
							<br/>
							<br/>
							<br/>
							<br/>
							<br/>
<figure class="logo">
	<img src="_imagens/logo.png">
	<figcaption>
		<p>
			Projeto Para a Disciplina de Lógica de Programação
			                <br/>
			Professor: Allan Diego Silva Lima
		</p>
	</figcaption>
</figure>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
<h1><a href="/">Voltar</a></h1>
<audio id="musica" autoplay="autoplay" loop="" >
	<source src="_sound/musica.mp3" type="audio/mpeg"/>
	</audio>
</body>
</html>